html{
    scroll-behavior: smooth;
}
body {
	padding: 0px;
    margin: 0;
    overflow-x: hidden;
    background-color: $secondary-color;
    
    *{
        font-family: "OpenSans-regular", sans-serif;
    }
}

body::-webkit-scrollbar {
    width: 4px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgb(24,81,50);
    background: linear-gradient(87deg, rgba(24,81,50,1) 20%, rgba(29,122,72,1) 58%);
    // outline: 1px solid slategrey;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: normal;
}

